---
http_interactions:
- request:
    method: get
    uri: http://api10.towerdata.com/person?correct=email&email=john%3Bdoe@example.com&license=XXXXXXXXXX
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"email":{"ok":false,"validation_level":2,"status_code":110,"status_desc":"Invalid
        character in address","address":"john;doe@example.com","username":null,"domain":null},"status_code":10,"status_desc":"Success"}'
  recorded_at: Mon, 07 Oct 2013 19:41:45 GMT
recorded_with: VCR 2.5.0
