---
http_interactions:
- request:
    method: get
    uri: http://api10.towerdata.com/person?license=XXXXXXXXXX&phone=5
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"phone":{"ok":false,"status_code":120,"status_desc":"Invalid number
        - too few digits","number":null,"extension":null,"city":null,"state":null,"new_npa":null,"country":null,"county":null,"latitude":null,"longitude":null,"timezone":null,"observes_dst":null,"messages":[],"line_type":null,"carrier":null},"status_code":10,"status_desc":"Success"}'
  recorded_at: Mon, 07 Oct 2013 19:41:07 GMT
recorded_with: VCR 2.5.0
