---
http_interactions:
- request:
    method: get
    uri: http://api10.towerdata.com/person?correct=email&email=not_an_address&license=XXXXXXXXXX
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"email":{"ok":false,"validation_level":2,"status_code":150,"status_desc":"Address
        does not have an @ sign","address":"not_an_address","username":null,"domain":null},"status_code":10,"status_desc":"Success"}'
  recorded_at: Mon, 07 Oct 2013 19:41:07 GMT
recorded_with: VCR 2.5.0
