---
http_interactions:
- request:
    method: get
    uri: http://api10.towerdata.com/person?email=andrew.fallows@elocal.com&license=XXXXXXXXXX
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"email":{"ok":true,"validation_level":2,"status_code":45,"status_desc":"Domain
        does not support validation (accepts all mailboxes)","address":"andrew.fallows@elocal.com","username":"andrew.fallows","domain":"elocal.com"},"status_code":10,"status_desc":"Success"}'
  recorded_at: Mon, 07 Oct 2013 15:21:27 GMT
recorded_with: VCR 2.5.0
